@{
	ViewData["Title"] = "Home Page";
	ViewData["Module"] = "Home";
	ViewData["Action"] = "Dashboard";
}

@section Styles {

}

@section ContentHeader {
	<nav class="flex">
		
	</nav>
}

<div class="text-center">


</div>
